*{
    font-family: 'Krub', sans-serif;
    color:#50031E;
    font-weight:bold;
}
body{
    background-color: #1AAAE7;
}
nav{
    position:absolute;
    right:10px;
    top:10px;
}
nav ul{
    list-style: none;
}
nav li{
    display:inline-block;
}
nav a{
    background: #D10900;
    padding:20px;
    text-decoration:none;
    color:#50031E;
    border-radius:150px;
}
nav a:hover{
    background:#50031E;
    color:#D10900;
}
h1{
    font-style: oblique;
    font-weight:500;
    padding-top: 30px;
}
img{
    display: inline-block;
    float: inherit;
    height: 400px;
    width:600px;
}
p{
    font-style: italic;
    text-align: center;
    padding-top: 0px;
    padding-left: 950px;
    padding-right: 0px;
}