*{
    font-family: 'Krub', sans-serif;
    color:green;
    font-weight:bold;
}
body{
    background-color: #1B84BB;
}
nav{
    position:absolute;
    right:10px;
    top:10px;
}
nav ul{
    list-style: none;
}
nav li{
    display:inline-block;
}
nav a{
    background: #D10900;
    padding:20px;
    text-decoration:none;
    color:#0E7B3B;
    border-radius:150px;
}
nav a:hover{
    background:#0E7B3B;
    color:#D10900;
}
h1{
    font-style: oblique;
    font-weight:500;
    padding-top: 30px;
}
img{
    display: inline-block;
    padding-top: 10px;
    padding-left: 350px;
    height: 400px;
    width:600px;
}
p{
    font-style: italic;
    text-align: center;
    padding-top: 0px;
    padding-left: 950px;
}