*{
    font-family: 'Krub', sans-serif;
    color:#0B2545;
    font-weight:bold;
}
body{
    background-color: #1B84BB;
}
nav{
    position:absolute;
    right:10px;
    top:10px;
}
nav ul{
    list-style: none;
}
nav li{
    display:inline-block;
}
nav a{
    background: #0B2545;
    padding:20px;
    text-decoration:none;
    color:#1AAAE7;
    border-radius:150px;
}
nav a:hover{
    background:#1AAAE7;
    color:#0B2545;
}
h1{
    font-style: oblique;
    font-weight:500;
    padding-top: 30px;
}
img{
    display: inline-block;
    float: left;
    height: 400px;
    width:600px;
}
p{
    font-style: italic;
    text-align: center;
    padding-top: 150px;
    padding-left: 700px;
}