*{
    font-family: 'Krub', sans-serif;
}
body{
    background:url("/assets/img/pexels-photo-823841.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    background-color: #C0838D;
}
nav{
    position:absolute;
    right:10px;
    top:10px;
}
nav ul{
    list-style: none;
}
nav li{
    display:inline-block;
}
nav a{
    background: #000926;
    padding:20px;
    text-decoration:none;
    color:#1AAAE7;
    border-radius:150px;
}
nav a:hover{
    background:#1AAAE7;
    color:#000926;
}